$airbnb-color: #ff385c;
$nomal-font-color: #2b2b2b;
$layout-padding: 0 300px;

.container {
  padding: $layout-padding;
  transition: 0.5s;
}

#header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #f1f1f1;
  .header-nav-bar {
    padding: $layout-padding;
    transition: 0.5s;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    .header-nav-bar-logo {
      a {
        display: flex;
        align-items: center;
        .header-nav-logo {
          width: 30px;
          height: 30px;
          background: url("/img/logo.png") no-repeat center center;
          background-size: contain;
          margin-right: 5px;
        }
        h2 {
          color: $airbnb-color;
          font-size: 1.43rem;
        }
      }
    }
    .header-nav-bar-sign {
      display: flex;
      li {
        margin-left: 20px;
        a {
          white-space: nowrap;
          color: $nomal-font-color;
        }
        a:hover {
          color: #666;
        }
      }
    }
  }
}

#main {
  width: 100%;
  .container {
    .main-section {
      padding: 50px 0;
      .search-section-content {
        display: flex;
        position: relative;
        justify-content: right;
        .search-section-content-bg {
          width: 80%;
          height: 500px;
          background: url("/img/mainbg.png") no-repeat center center;
          background-size: cover;
          border-radius: 5px;
          transition: 0.5s;
        }
        .search-section-content-bar {
          width: 420px;
          height: 420px;
          position: absolute;
          background-color: #fff;
          left: 0%;
          bottom: 0;
          border-radius: 10px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          .search-section-content-bar-inner {
            width: 100%;
            height: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .search-section-content-text {
              width: 100%;
              height: 30%;
              h1 {
                font-size: 1.71rem;
                margin-bottom: 5px;
                color: $nomal-font-color;
              }
              p {
                font-size: 1rem;
                color: #666;
              }
              transition: 0.5s;
            }
            .search-section-content-input {
              width: 100%;
              height: 70%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .search-location {
                background-color: #fff;
                padding: 5px 10px;
                border-radius: 10px;
                border: 1px solid #f1f1f1;
                width: 100%;
                height: 25%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .search-section-content-location {
                  width: 100%;
                  height: 50%;
                  display: flex;
                  align-items: center;
                }
                .search-section-content-location-input {
                  width: 100%;
                  height: 50%;
                  border: none;
                  display: flex;
                  align-items: center;
                  font-size: 1.1rem;
                  transition: 0.5s;
                }
                .search-section-content-location-input:focus {
                  border: none;
                  outline: none;
                  padding-left: 10px;
                }
              }
              .search-section-check {
                width: 100%;
                height: 25%;
                padding: 5px 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 15px;
                border: 1px solid #f1f1f1;
                border-radius: 10px;
                .search-check {
                  width: 50%;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  position: relative;
                  .search-section-content-check {
                    height: 100%;
                    display: flex;
                    align-items: center;
                  }
                  input {
                    height: 100%;
                    border: none;
                    transition: 0.5s;
                    cursor: pointer;
                  }
                  input:focus {
                    outline: 1px solid $airbnb-color;
                    border-radius: 10px;
                    padding-left: 10px;
                  }
                }
                .search-check:first-child::after {
                  content: "";
                  position: absolute;
                  width:1px;
                  height:90%;
                  background-color: #f1f1f1;
                  top:4px;
                  right: -5px;

                }
              }
              .search-section-people {
                width: 100%;
                height: 25%;
                border: 1px solid #f1f1f1;
                border-radius: 10px;
                padding: 5px 10px;
                display: flex;
                justify-content: space-between;
                gap: 15px;
                .search-people {
                  width: 100%;
                  height:100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  position: relative;
                  .search-section-content-people {
                    width: 100%;
                    height: 50%;
                    display: flex;
                    align-items: center;
                  }
                  input {
                    width: 100%;
                    height: 50%;
                    border: none;
                    font-size: 1.2rem;
                    transition: 0.5s;
                  }
                  input:focus {
                    outline: none;
                    padding-left: 10px;
                  }
                }
                .search-people:first-child::after{
                  content: "";
                  position: absolute;
                  width:1px;
                  height:90%;
                  background-color: #f1f1f1;
                  top:4px;
                  right: -5px;
                }
              }
              button {
                width: 100%;
                height: 20%;
                border-radius: 10px;
                border: none;
                background-color: $airbnb-color;
                font-size: 1.1rem;
                color: #fff;
                font-weight: bold;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    //main-top notice 영역
    .main-section, .top-notice-section {
      width:100%;
      .top-notice-section-content{
        width:100%;
        .top-notice-section-content-list{
          display: flex;
          justify-content: space-between;
          li{
            height:170px;
            width:30%;
            display: flex;
            flex-direction: column;
            .top-notice-icon{
              display: flex;
              align-items: center;
              height:33.333%;
              .icon{font-size: 1.8rem;}
            }
            .top-notice-text-title{
              display: flex;
              align-items: center;
              height:33.333%;
              p{font-size: 1.2rem; color: $nomal-font-color; font-weight: bold;}
            }
            .top-notice-text-desc{
              display: flex;
              align-items: center;
              height:33.333%;
              p{font-size: 1rem; color:#666;}
            }
          }
        }
      }
    }

    //main-item 영역
    .main-section, .search-section{
      width:100%;
      .item-section-content{
        width:100%;
        max-width: 1280px;
        .item-section-content-text{
          width:100%;
          height:80px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 30px;
          h2{font-size: 1.71rem; color: $nomal-font-color}
          p{font-size: 1rem; color: #666;}
        }
        .item-section-content-slide-container{
          .item-section-content-slide{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .itme-section-content-image{
              width:300px;
              height:300px;
              img{
                width:100%;
                height:100%;
                object-fit: cover;
                border-radius: 10px;
              }
            }
            .item-section-content-info{
              margin-top: 10px;
              height:130px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              h3{color: $nomal-font-color; margin-bottom: 3px;}
              .item-desc{color: #666; font-size: 0.85rem; margin-bottom: 3px;}
              span{color:#888;}
              .item-section-content-price-box{
                display: flex;
                gap: 10px;
                margin-top: 3px;
                .item-prevprice{
                  color: #666; font-style: italic;
                  text-decoration: line-through;
                }
                .item-price{}
              }
            }
          }
        }
        .item-section-content-btn{
          margin-top: 30px;
          background-color: #fff;
          border: 1px solid #666;
          padding:15px 20px;
          border-radius: 10px;
          cursor: pointer;
        }
      }
    }

    //main Notice 영역
    .main-section, .notice-section {
      width:100%;
      .notice-section-content-container{
        margin: 50px 0;
        display: flex;
        justify-content: space-between;
        height:400px;
        .notice-section-content-text{
          h1{font-size: 2rem; color: $nomal-font-color;}
        }
        .notice-section-content-list{
          width:50%;
          height:100%;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          .notice-section-content-list-qna{
            border-bottom: 1px solid #f1f1f1;
            padding-bottom:20px;
            margin-top: 20px;
            cursor: pointer;
            .notice-title{font-size: 1.2rem; color: #2b2b2b; display: flex; justify-content: space-between;}
            .notice-hidden-a{margin-top: 20px; font-size: 1rem; color: #666;}
          }
        }
      }
    }
  }
  .footer-top-line{
    margin-top: 80px;
    width:100%;
    border: 1px solid #f1f1f1;
  }
  footer{
    height:80px;
    display: flex;
    align-items: center;
    color: #666;
  }
}

@media screen and (max-width: 1600px) {
  //main section padding
  .container {
    padding: 0 100px;
  }

  #header {
    .header-nav-bar {
      padding: 0 100px;
    }
  }
}

@media screen and (max-width: 1400px) {
  //main section padding
  .container {
    padding: 0 100px;
  }

  #header {
    .header-nav-bar {
      padding: 0 100px;
    }
  }

  #main {
    .container {
      .main-section, .search-section{
        .item-section-content-btn{
          margin-top: 30px;
          background-color: #fff;
          border: 1px solid #666;
          width:100%;
          border-radius: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  //main section padding
  .container {
    padding: 0 90px;
  }

  #header {
    .header-nav-bar {
      padding: 0 90px;
    }
  }

  #main {
    .container {
      .main-section {
        .search-section-content {
          padding-top: 50px;
          flex-wrap: wrap;
          justify-content: left;
          .search-section-content-bg {
            width: 100%;
          }
          .search-section-content-bar {
            width: 100%;
            position: initial;
            box-shadow: none;
            .search-section-content-bar-inner {
              padding: 0;
              .search-section-content-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                h1 {
                  font-size: 1.51rem;
                }
                p {
                  font-size: 0.95rem;
                }
              }
            }
          }
        }
      }
      .main-section, .top-notice-section {
        padding-top: 0;
        .top-notice-section-content{
          .top-notice-section-content-list{
            flex-direction: column;
            width:100%;
            gap: 15px;
            li{
              width:100%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 770px) {
  //main section padding
  .container {
    padding: 0 50px;
  }

  #header {
    .header-nav-bar {
      padding: 0 50px;
      .header-nav-bar-logo {
        a {
          h2 {
            display: none;
          }
        }
      }
    }
  }

  #main {
    .container {
      .main-section, .search-section{
        .item-section-content{
          .item-section-content-text{
            h2{}
            p{font-size: 0.85rem;}
          }
          .item-section-content-slide-container{
            .item-section-content-slide{
              .itme-section-content-image{
                margin: 0 auto;
                width:100%;
                img{}
              }
              .item-section-content-info{
                h3{}
                .item-desc{margin: 5px 0;}
                span{}
                .item-section-content-price-box{
                  margin-top: 15px;
                }
              }
            }
          }
        }
      }
      .main-section, .notice-section {
        width:100%;
        .notice-section-content-container{
          flex-direction: column;
          .notice-section-content-list{
            margin-top: 50px;
            width:100%;
          }
        }
      }
    }
  }
}